.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    padding:5px 40px;
    color:rgb(17, 147, 138);
    width:113.65%;
}
.navbar-left{
    display:flexbox ;
    align-items: center;
    gap:15px;
}
.logo{
    width:90px;
    height:80px;
}
.description{
    font-size: 20px;
    font-weight: bolder;
}
.navbar-links{
    list-style: none;
    display:flex;
    gap:50px;
}
.navbar-links li a{
    color:rgb(17, 16, 16);
    text-decoration: none;
    font-weight: 500;
}
.navbar-links li a:hover{
    background-color: rgb(10, 153, 105);
}
.dashboard-icon{
    font-size:36px;
}
.menu-button{
    color: black;
}