body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #2e656b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dashboard-icon {
  color: white;
}

.description {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.page-content {
  padding: 20px;
}
.menu-button{
  color: black;
}